@model jeudontvousetesleheros.Core.Data.Models.Paragraphe

@{
    ViewData["Title"] = "C'est parti !";
}

<h1>C'est parti</h1>

<div>
    <h1>@Model.Titre</h1>
    <p>
        @Model.Description
    </p>
</div>

<div>
    <p>
        @Model.MaQuestion.Titre
    </p>
    <ul>
        @foreach (var proposition in Model.MaQuestion.MesReponses)
        {
<li>@proposition.Description</li>
        }
    </ul>
</div>
